@import '~antd/dist/antd.css';

body {
  margin: 0;
  padding: 0;
  background-color: #0f0f0f;
}

h1.ant-typography, h2.ant-typography, h3.ant-typography, h4.ant-typography, h5.ant-typography, h6.ant-typography, p, .ant-typography {
  color: #ffffff;
}

.ant-spin-dot-item {
  background-color: #00aca4 !important;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: #00aca4 !important;
}
