@import '~antd/dist/antd.css';

body {
  margin: 0;
  padding: 0;
  background-color: #0f0f0f;
  font-family: 'Roboto Condensed', sans-serif;
}

h1.ant-typography, h2.ant-typography, h3.ant-typography, h4.ant-typography, h5.ant-typography, h6.ant-typography, p, .ant-typography {
  color: #ffffff;
}

.anticon-spin {
  color: #00aca4 !important;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  border-left: #00aca4 solid 0.15em !important;
  background-color: transparent !important;
}

.spin-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.track-row:hover {
  opacity: 0.3;
  cursor: grab;
}

.anticon-play-circle, .anticon-pause {
  font-size: 1.5em;
  margin-right: 1em;
  color: #ffffff;
}

.react-h5-audio-player {
  width: 100%;
}

.react-h5-audio-player .flex {
  background-color: #2f3136 !important;
}

.pause-icon {
  box-shadow: #00aca4 7px 0px 0px 0px inset !important;
}

.indicator, .toggle-play-button {
  background-color: #00aca4 !important;
}

.volumn {
  border-bottom: 15px solid #00aca4 !important;
}

.ant-avatar-circle {
  cursor: grab;
}

.ant-list-item-meta-title {
  color: #ffffff;
  margin-bottom: 0.5em;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.4;
}

.anticon-home {
  font-size: 1.5em !important;
}

.login-btn {
  background-color: #00aca4;
  border: 1px solid #00aca4 !important;
  color: #ffffff;
}

.login-btn:hover {
  background-color: #00aca4;
  border: 1px solid #00aca4 !important;
  opacity: 0.9;
}

.loadmore-btn {
  background-color: #00aca4;
  border: 1px solid #00aca4 !important;
  text-align: center;
  color: #ffffff;
}

.loadmore-btn:hover {
  background-color: #00aca4;
  border: 1px solid #00aca4 !important;
  opacity: 0.9;
}

.loadmore-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.signout-btn {
  background-color: #00aca4;
  border: 1px solid #00aca4 !important;
  text-align: center;
  color: #ffffff;
}

.signout-btn:hover {
  background-color: #00aca4;
  border: 1px solid #00aca4 !important;
  opacity: 0.9;
}

.ant-popover-inner {
  background-color: transparent !important;
}

.album-cover {
  border-radius: 50%;
}

@media screen and (max-width: 834px) {
  .song-info {
    font-size: 12px;
  }
  .song-duration {
    font-size: 12px;
  }
  .ant-list-item-meta-title {
    font-size: 16px;
  }
  .explicit-tag {
    font-size: 10px;
  }
}

@media screen and (max-width: 480px) {
  .song-info {
    font-size: 10px;
  }
  .song-duration {
    font-size: 8px;
  }
  .ant-list-item-meta-title {
    font-size: 14px;
  }
  .explicit-tag {
    font-size: 8px;
  }
}

@media screen and (max-width: 425px) {
  .song-info {
    display: none;
  }
  .song-duration {
    display: none;
  }
  .ant-list-item-meta-title {
    font-size: 12px;
  }
  .explicit-tag {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .album-cover {
    width: 70px !important;
    height: 70px !important;
  }
}

@media screen and (max-width: 600px) {
  .album-cover {
    width: 60px !important;
    height: 60px !important;
  }
}

@media screen and (max-width: 480px) {
  .album-cover {
    width: 50px !important;
    height: 50px !important;
  }
}
